
@{
    ViewBag.Title = "DaiKu_View";
    Layout = "~/Views/Shared/_Layout_2018.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/table-alert")
    @Styles.Render("~/Content/table-alert")

    <!--验证-->
    @Scripts.Render("~/bundles/bootstrapValidator")
    @Styles.Render("~/Content/bootstrapValidator")

    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-select.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap-select-zh_CN.js" type="text/javascript"></script>

    <script src="~/Scripts/Public/MyHelper.js" type="text/javascript"></script>
    <script src="~/Scripts/Public/MyTables.js" type="text/javascript"></script>
    <script src="~/Scripts/Bk_Ckxx/DaiKu.js" type="text/javascript"></script>

}

<div class="panel-body" style="padding:0px;">
    <div class="container">
        <div class="row">
            <div class="table-responsive">
                <div id="toolbar">
                    <form class="form-inline">
                        @*<button type="button" class="btn btn-primary queryButton" id="btn_print">导出Excel</button>*@
                        <div class="form-group" style="width:50px">
                            <input type="text" class="form-control" name="txt_day" id="txt_day" placeholder="呆库天数" value="30" style="width:50px">
                        </div>

                        <div class="form-group" style="width:120px">
                            <input type="text" class="form-control" name="txt_sjbh" id="txt_sjbh" placeholder="数据编号..." style="width:110px">
                        </div>
                        <div class="form-group" style="width:120px">
                            <input type="text" class="form-control" name="txt_ph" id="txt_ph" placeholder="批号..." style="width:110px">
                        </div>
                        <button type="button" class="btn btn-primary queryButton" id="btn_find">查询</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <table id="ArbetTable"></table>
</div>




