
@{
    ViewBag.Title = "Temp7";
    Layout = "~/Views/Shared/_Layout_2018.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/table-alert")
    @Styles.Render("~/Content/table-alert")

    <script src="~/Scripts/Bk_Ckxx/Temp7.js" type="text/javascript"></script>
    <script src="~/Scripts/Bk_Ckxx/Temp77.js" type="text/javascript"></script>
}

<a href="javascript:detailed(1)">XXXXXXx</a>
<table id="ArbetTable"></table>