
@{
    ViewBag.Title = "sxcx";
    Layout = "~/Views/Shared/_Layout_2018.cshtml";
}
@section scripts{
    @Scripts.Render("~/bundles/table-alert")
    @Styles.Render("~/Content/table-alert")
    <!--验证-->
    @Scripts.Render("~/bundles/bootstrapValidator")
    @Styles.Render("~/Content/bootstrapValidator")

    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-select.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap-select-zh_CN.js" type="text/javascript"></script>
}

<body class="container-fluid">
    <div class="row" style="margin-left:1em;margin-top:1em">
        <div>
            <a class="glyphicon glyphicon-plus" style="margin-top:1em" id="btn_add" data-toggle="modal"></a>
        </div>
        <table id="ArbetTable"></table>

        <!--输入-->
        <div id="myModal" class="modal fade" role="dialog" aria-labelledby="modal" style="overflow:scroll">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    请稍等，正在加载表单.....
                </div>
            </div>
        </div>

    </div>
</body>

<script>

    $(function () {
        var oTable = new TableInit();
        oTable.Init();

        $('#btn_add').click(function () {
            $("#myModal").modal({
                remote: "/TechnicalQuality/ProcessRoute/Modal_sxcx",
                backdrop: "static"
            });
        });

        $("#myModal").on("hidden.bs.modal", function () {
            $(this).removeData("bs.modal");
            $(this).find(".modal-content").children().remove();
        });

    });

    var TableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#ArbetTable').bootstrapTable({
                //height: tableHeight(),              //高度调整
                url: '/ProcessRoute/Select_sxcx',      //请求后台的URL（*）
                method: 'get',                      //请求方式（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: false,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 100,                       //每页的记录行数（*）
                pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                searchOnEnterKey: true, //ENTER键搜索 ,
                contentType: "application/x-www-form-urlencoded",
                strictSearch: true,
                clickToSelect: true,                //是否启用点击选中行
                uniqueId: "zdbh",                     //每一行的唯一标识，一般为主键列
                columns: [
                    {
                        field: 'index',
                        title: '序号',
                        align: "center",
                        formatter: function (value, row, index) {
                            var options = $('#ArbetTable').bootstrapTable('getOptions');
                            return options.pageSize * (options.pageNumber - 1) + index + 1;
                        },
                        align: 'center',
                        valign: 'middle'
                    }, {
                        field: 'sxcxh',
                        title: '酸洗程序号',
                        align: 'center',
                        valign: 'middle'
                    }, {
                        field: 'sxsj',
                        title: '酸洗时间',
                        align: 'center',
                        valign: 'middle'
                    }, {
                        field: 'operate',
                        title: '操作',
                        formatter: operateFormatter, //自定义方法，添加操作按钮\
                        align: 'center',
                        valign: 'middle'
                    }
                ]
            })
        }

        //得到查询的参数
        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                //limit: params.limit,   //页面大小
                //offset: params.offset,  //页码
                //search: $("#searchText").val(),
            };
            return temp;
        };

        return oTableInit;
    };


    function tableHeight() {
        return $(window).height() - 10;
    }

    function operateFormatter(value, row, index) {//赋予的参数
        var PySheDingID = row.zdbh; //;
        // 利用 row 获取点击这行的ID
        return [
            "<div class='btn-group btn-group-xs'>" +
            "&nbsp&nbsp&nbsp&nbsp<a class='glyphicon glyphicon-pencil' onclick='btnEdit_t(" + PySheDingID + ")' ></a>" +
            "&nbsp&nbsp&nbsp&nbsp<a class='glyphicon glyphicon-trash' onclick='btnDele_t(" + PySheDingID + ")' ></a>" +
            "</div>"
        ].join('');
    }


    function btnEdit_t(id) {
        console.info(id);
        $("#myModal").modal({
            remote: "/TechnicalQuality/ProcessRoute/Modal_sxcx?zdbh=" + id + "",
            backdrop: "static"
        });
    }

    function btnDele_t(key) {
        swal({
            title: "删除确认"
            , text: "是否删除这条数据？"
            , type: "info"
            , cancelButtonText: "取消"
            , confirmButtonText: "删除！"
            , showCancelButton: true
            , closeOnConfirm: false
            , showLoaderOnConfirm: true,
        }, function () {
            $.ajax({
                url: "/ProcessRoute/Delete_sxcx"
                , type: "post"
                , data: { zdbh: key }
                , success: function (data) {
                    swal(data.Result == true ? "success" : "error");
                    if (data.Result == true) {
                        tablerefesh();
                    }
                }
                , error: function (result) {
                    swal("数据删除失败！", result.responseText.substring(0, 100), "error");
                }
            });
        });
    }


    //关闭弹出窗口
    function ModalHide() {
        $("#myModal").modal('hide');
        tablerefesh();
    }

    function tablerefesh() {
        $('#ArbetTable').bootstrapTable('refresh');
    }

</script>